@font-face {
  src: url('../font/Myriad-Pro_31655.ttf');
  font-family: 'Myriad-pro', sans-serif;
}
*,
*::after,
*::before,
html {
  padding: 0;
  margin: 0;
  font-family: 'Myriad-pro', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  color: #2b3234;
}
a {
  text-decoration: none;
  color: #fff;
  display: block;
}
.container {
  max-width: 1270px;
  margin: 0 auto;
}
.h3-style {
  font-size: 25px;
  font-weight: 400;
  margin: 30px 0;
  color: black;
}
h3 {
  font-size: 25px;
  font-weight: 400;
  margin: 30px 0;
  color: black;
}
.header {
  background-color: #959494;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid #fff;
}
.header-top__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 620px;
}
.header-top__nav {
  align-items: center;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
.header-top__nav a {
  margin-left: 23px;
}
.header-top__nav a:last-child {
  background-color: #e02329;
  padding: 5px 10px;
  border-radius: 7px;
}
.header-top .title {
  font-size: 18px;
}
.header-top .phone {
  font-size: 20px;
  position: relative;
}
.header-top .phone::before {
  width: 31px;
  height: 31px;
  content: '';
  position: absolute;
  top: -5px;
  left: -45px;
  background: url('../img/social_phone.png') no-repeat;
}
.header-top .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top .social img {
  margin-left: 12px;
}
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header-bottom span {
  color: #fff;
  text-transform: uppercase;
  margin-left: 10px;
}
.header-bottom__burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90px;
}
.header-bottom__burger .burger {
  width: 37px;
}
.header-bottom__burger .burger div {
  margin-bottom: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 7px;
}
.header-bottom__find {
  display: flex;
  align-items: center;
}
.header-bottom__find input {
  width: 496px;
  color: #fff;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  margin-left: 10px;
}
.header-bottom__find input::placeholder {
  text-transform: uppercase;
  color: #fff;
}
.header-bottom__shoplist {
  display: flex;
  align-items: center;
}
.header-bottom__shoplist img {
  width: 55px;
}
.header-bottom__basket {
  display: flex;
  align-items: center;
}
.header-bottom__basket img {
  width: 45px;
}
.catalog {
  padding-top: 45px;
}
.catalog__title {
  font-size: 26px;
  margin-bottom: 30px;
  font-weight: 300;
}
.catalog__title span {
  font-size: 26px;
  font-weight: 700;
}
.catalog__menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  border-bottom: 1px solid black;
}
.catalog__item {
  cursor: pointer;
}
.about p {
  line-height: 22px;
}
.preference__list {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
}
.preference__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 280px;
  max-height: 270px;
  margin-bottom: 20px;
}
.preference__item .text {
  text-align: center;
  margin-bottom: 20px;
}
.preference__item .text span {
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  margin: 10px 0;
}
.preference__item .text p {
  text-align: center;
}
.preference__item .img {
  width: 140px;
  min-height: 100px;
  margin-bottom: 20px;
  text-align: center;
}
.filials {
  margin-bottom: 90px;
}
.filials__city {
  font-size: 25px;
  font-weight: 400;
  margin: 30px 0;
  color: black;
  text-transform: uppercase;
  padding-top: 35px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
.filials__card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid black;
}
.filials__card .logo {
  grid-column: 1/2;
}
.filials__card .time {
  max-width: 200px;
  grid-column: 3/4;
}
.filials__card .adress {
  grid-column: 2/3;
  max-width: 300px;
}
.filials__card .phone {
  grid-column: 4/5;
  max-width: 220px;
}
.filials__card .phone p {
  text-transform: uppercase;
  font-size: 25px;
}
.footer {
  padding: 35px 0;
}
.footer a {
  color: #393939;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid  red;
  border-top: 1px solid red;
  padding-bottom: 100px;
  position: relative;
}
.footer-logo {
  max-width: 215px;
  margin: 30px 0;
}
.footer-logo span {
  font-size: 18px;
}
.footer-logo a {
  font-size: 24px;
}
.footer-list {
  list-style: none;
}
.footer-list a {
  line-height: 20px;
}
.footer-title {
  font-size: 25px;
  font-weight: 400;
  margin: 30px 0;
  color: black;
  text-transform: uppercase;
}
.footer-stocks div {
  color: #ff0000;
}
.footer-stocks li a {
  color: #a7a7a7;
}
.footer-social {
  width: 350px;
  height: 95px;
  position: absolute;
  right: 0;
  bottom: 20px;
}
.footer-social__title {
  font-size: 25px;
  font-weight: 400;
  margin: 30px 0;
  color: black;
  margin: 0;
  color: #ff0000;
  text-transform: uppercase;
}
.footer-social__imgwrapper {
  display: flex;
  justify-content: space-between;
}
.footer-bottom {
  padding: 30px 0;
}
.footer-bottom a {
  text-decoration: underline;
}
.footer-bottom__right {
  max-width: 622px;
  display: inline-block;
}
.footer-bottom__left {
  max-width: 575px;
  display: inline-block;
}
